
@import url('http://fonts.cdnfonts.com/css/aharoni');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lexend+Deca:wght@200&family=Oswald:wght@500&family=Outfit:wght@300;400&family=Questrial&display=swap');

.contact-post {
    border: 1px solid transparent;
    padding-bottom: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

    .fondo_contact {
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,249,249,1) 100%);
   }

   /* seccion formulario */
   .form-registro {
       width: 450px;
       background: transparent;
       padding: 30px;
       margin: auto;
       margin-top: 10px;
       font-family: 'Aharoni', sans-serif;

   }

   .cloud-img {
    margin-left :15px;
    opacity: 0.6;
    z-index: 0;
    position: relative; 
   }

   .titulo {
    font-family: 'Aharoni', sans-serif;
    color: #645056;
    font-size: 40px;
    position: relative;
    z-index: 1

}
   .controls {
       width: 100%;
       background: #ffffff;
       padding: 10px;
       border-radius: 4px;
       margin-bottom: 16px;
       border: 2px solid #ADCAD3;
       font-family: 'calibri';
       font-size: 18px;

   }

   .label-input {
       font-family: 'Outfit', sans-serif;
       font-weight: 300;
       color: #9C8189;
       font-size: 20px;
   }

   /* seccion boton y texto */
   .aceptar {
       font-family: 'Outfit', sans-serif;
       font-weight: 300;
       width: auto;
       height: auto;
       text-align: center;
       font-size: 15px;
       border: none;
       background:#c0d8b6;
       border-radius: 10px;
       padding: 0.5em 0.8em 0.5em 0.8em;
       color: #ffffff;
       opacity: 0;
   }
   .thank-you-opacity {
     opacity: 1;
     transition: all .1s ease-in-out;
   }

   .form-registro .botons{   
       font-family: 'Outfit', sans-serif;    
       width: 40%;
       text-align: center;
       background: #ffffff;
       border: 2px solid #ADCAD3;
       padding: 12px;
       color: #ADCAD3;
       margin: 16px 0;
       font-size: 24px;
       border-radius: 10px;
   }

  /* text or */
   .or {
    font-family: 'Outfit', sans-serif;
    color: #9C8189;
    font-size: 25px;
}

   .center {
    text-align: center !important;
}



/* estilos iconos */ 

.social-icon.si-large {
    margin: 0 20px 20px 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 54px !important;
}
.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    text-shadow: none;
    overflow: hidden;
}

.iconos-s {
    margin: 0 auto;
    width: 40px;
    display: block;
    
}
.i-rounded, .i-plain, .i-circled, .i-bordered, .social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    cursor: pointer;
    font-style: normal;
}
.inline-block {
    float: none !important;
    display: inline-block !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.social-icon1.si-large1 {
    margin: 0 15px 15px 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 54px !important;
  }
  .social-icon1 {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    color: #5c2cbc;
    text-shadow: none;
    overflow: hidden;
  }
  .i-rounded1,
  .i-plain1,
  .i-circled1,
  .i-bordered1,
  .social-icon1 {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    cursor: pointer;
    font-style: normal;
  }
  .inline-block1 {
    float: none !important;
    display: inline-block !important;
  }
  
  .center-block1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a img {
    border: none;
  }
  
  .img-intro {
    border-style: solid;
    border-width: 0.1rem;
    border-color: #D8A5AD;
  }
  .img-socials1 {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  
  .container-social {
    width: auto;
    align-items: center;
  }
  .bounce {
    height: 50px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transition: ease-out
  }
  .bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
  }
  @keyframes bounce {
    0%   { transform: translateY(0); }
    15%  { transform: translateY(-12px); }
    35% { transform: translateY(-10px); }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  
  }
  