#intro {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.graphic-elements {
    width: 90%;
  }

.three-colors {
    width: 60%;
    height: auto;
  }

.soraya-logo-img {
    width: 50%;
    height: auto
}

.soraya-intro-img {
    width: 90%;
    height: auto;
}

.skill-container {
  margin:0 auto;
}

.row-margin {
  margin: 2rem 0;
}

.before-scroll {
  opacity: 0;
  /* transform: translateY(10rem); */
  transition: opacity 0.7s ease-in, transform 3s ease-in;
}

.before-scroll.fade-in {
  /* transform: translateY(0);  */
  opacity: 1;
}
.titulo-hi.before-scroll-heading {
  opacity: 0;
  /* transform: translateY(10rem); */
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

.titulo-2.before-scroll-heading {
  opacity: 0;
  /* transform: translateY(10rem); */
  transition: opacity 1s ease-in;
  transition-delay: 2s;
}
.titulo-hi.before-scroll-heading.fade-in,
.titulo-2.before-scroll-heading.fade-in {
  /* transform: translateY(0);  */
  opacity: 1;
}




@media screen and (max-width: 768px) {
    #icons-top {
        width: 65%;
        flex-wrap:nowrap
    }

    #icons-bottom {
        width: 65%;
        flex-wrap:nowrap
    }

    #personas-row {
        display: block;
    }

    .arrow-align-previous {
        text-align :left;
        width: 40%;
        float: left;
      }
      
      .arrow-align-next {
        text-align: right;
        width: 40%;
        float: right;
      }

      .graphic-elements {
        width: 100%;
      }

      .three-colors {
        width: 100%;
        height: auto;
      }

      .soraya-logo-img {
        width: 100%;
        height: auto
    }
    .soraya-intro-img {
        width: 100%;
        height: auto;
    }
}
    
@media (max-width:576px) {
    .col-competitors {
      display: flex;
      flex-wrap: wrap;
      flex:0 0 50%;
      max-width:50%;
    }
    
  }

  /* .fade-in {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform-origin: bottom;
    transition: ease-in;
  }

  @keyframes fade-in {
    0%   { transform: translateY(30px);
          opacity: 0; }
    100% { transform: translateY(0px); 
          opacity: 1;}
  
  } */